<?xml version="1.0"?>
<launch>
  <!-- Include smb_gazebo.launch and set the world_file argument -->
  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch" />

  <!-- Load the parameter file -->
  <rosparam command="load" file="$(find smb_highlevel_controller)/config/params.yaml" />

  <!-- Run the laser_scan_subscriber -->
  <!-- <node name="laser_scan_subscriber" pkg="smb_highlevel_controller" type="laser_scan_subscriber" output="screen" /> -->

 <!-- Run the smb_highlevel_controller node -->
  <node name="smb_highlevel_controller" pkg="smb_highlevel_controller" type="smb_highlevel_controller_node" output="screen" />
  
</launch>


  <!-- Load parameters -->
  <rosparam file="$(find your_package_name)/config/localization.yaml" command="load" />
  
  <!-- Start the ekf_localization_node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <!-- Add any necessary node-specific parameters here -->
  </node>


