<?xml version="1.0"?>
<launch>
  <!-- Include smb_gazebo.launch and set the world_file argument -->
  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="world_file" value="/usr/share/gazebo-11/worlds/robocup14_spl_field.world" />
  </include>

<!-- Load the parameter file -->
  <rosparam command="load" file="$(find smb_highlevel_controller)/config/params.yaml" />

  <!-- Run the smb_highlevel_controller node -->
  <node name="smb_highlevel_controller" pkg="smb_highlevel_controller" type="laser_scan_subscriber" output="screen" />
</launch>

